



@media (max-width: 790px){
    .description > .title-large{
        margin-left: 70px;
    }
}
@media (max-width: 715px){
    .header .name {
        font-size: 20px;
        bottom: 207px;
        text-align: center;
        left: 0;
        width: 100%;
    }
    .header .name > .title {
        font-size: 13px;
    }

    .header .container-my-photo{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        top: -20px;
        left:0;
    }

    .header .container-my-photo > .my-photo{
        width: 132px;
        height: 132px;
        border-radius: 50%;
        position: absolute;
        left: 5%;
        top: 9px;
    }

    .description > .title-large{
        margin-left: 0;
    }
}

@media (max-width: 550px){
    .header .name{
        bottom: 186px;
    }
}

@media (max-width: 350px){
    .description > .title-large{
        font-size: 32px;
    }
    .description > .title-large .small{
        font-size: 38px
    }
    .container-my-photo > .name{
        bottom: 186px;
    }

}