



@media (max-width: 715px){
    .header .name {
        font-size: 25px;
        bottom: 207px;
        text-align: center
        left: 0
    }
    .header .name > .title {
        font-size: 13px;
    }

    .header .container-my-photo{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        top: -20px;
        left:0;
    }

    .header .container-my-photo > .my-photo{
        width: 132px;
        height: 132px;
        border-radius: 50%;
        position: absolute;
        left: 5%;
        top: 9px;
    }
}