

/* GENERAL *******************/

.container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.clear{
    clear: both;
}

*{
    font-family: 'Comfortaa', sans-serif;
}

.line {
    height: 5px;
    width: 100%;
    background-color: #272a2d;

}

/* FIM GENERAL ************************************/













/* HEADER ************************************/

.header .top-photo > .photo{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.header .container-my-photo{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    left: 20px;
    top: -110px
} 


.header .container-my-photo > .my-photo{
    width: 192px;
    height: 192px;
    border-radius: 50%;
    position: absolute;
    left: 9px;
    top: 9px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    z-index: 1;
}

.header .container-my-photo > .my-photo:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


.header .name {
    color: #ffffff;
    font-size: 40px; 
    position: absolute;
    bottom: 51px;
    left: 251px;
    text-shadow: 0px 4px 4px black;
}


.header .name > .title{
    color: #ffffff;
    font-size: 18px;
}


/* FIM HEADER ************************************/











/* SECTION DESCRIPTION ************************************/

.description{
    width: 100%;
    /* height: 400px; */
    /* background-color: #999999; */
}

.description > .title-large .small{
    color: #494f55;
    font-size: 60px;
    font-weight: 700;
    line-height: 22px;
    position: relative;
}

.description > .title-large{
    position: relative;
    color: #494f55;
    font-size: 60px;
    font-weight: 300;
    line-height: 22px;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.description .presentation{
    color: #24272a;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: 52px;
    margin-bottom: 15px;
}










/*************Social Network*************************/

.social-network{ 
    height: 142px;
    width: 100%;
    background-color: #616365;
} 

/*************End Social Network*************************/










/*************Social Network*************************/

.skills{ 
    height: auto;
    width: 100%;
    background-color: #393e42;
    padding-top: 28px;
    padding-bottom: 20px;
    /*box-shadow: -1px 1px 9px 5px #272a2d;*/
} 

.skills .skill-title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: #ffffff;
    font-size: 28px;
}

.skills .skill-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
    height: auto;
    width: 100%; 
}

.skills .skill-wrap .skill-item{
    height: 170px;
    width: 170px;
    margin: 10px 5px 10px 5px;
    background-color: #616365;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .-skill-item-other{
    border-left: 4px dotted #ffffff; 
    border-right: 4px dotted #ffffff; 
}

.skills .skill-box{
    width: 258px;
}

.skills .title-item{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    margin-top: 30px;
}

.skills .subtitle-item{
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500; 
    margin-bottom: 48px;
}
/*************End Social Network*************************/







/*************Works*************************/


.works{
    height: auto;
    width: 100%;
    background-color: #393e42;
    box-shadow: 0px 1px 9px 5px #272a2d;
    padding-top: 20px;
    padding-bottom: 20px;
}

.works .wrap-works{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.works .box-work{
    width: 220px;
    height: 220px;
    margin: 20px; 
}

.works .work{
    width: 100%;
    cursor: pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.works .work:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.works .work-title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: #ffffff;
    font-size: 28px;
}

/*************End Works*************************/